<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed May 02 14:06:40 KST 2018-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icignal.loyalty.membershipcard.cardmaster.mapper.LoyCardMasterMapper">

   <select id="selectCardTypeList" parameterType="com.icignal.loyalty.membershipcard.cardmaster.dto.request.LoyCardTypeReqDto"
		   						   resultType="com.icignal.loyalty.membershipcard.cardmaster.dto.response.LoyCardTypeResDto">
       /* LoyCardMasterMapper.selectCardTypeList */
	   SELECT
			 C.RID              AS rid
		   , C.CARD_KIND_NO     AS cardKindNo
		   , C.CARD_KIND_NM     AS cardKindNm
		   , C.CARD_TYPE	    AS cardType
		   , C.MAKE_TYPE        AS makeType
	       , TO_CHAR(C.CREATE_DATE,'YYYY-MM-DD HH24:MI:SS')      AS createDate
		   , E.NAME             AS createBy
		   , ${strColumn}
	   FROM   LOY.LOY_CARD_KIND  c
	   LEFT OUTER JOIN COM.CRM_USER CU ON C.CREATE_BY = CU.RID
	   LEFT OUTER JOIN COM.EMPLOYEE E ON CU.ID_EMPLOYEE = E.ID
	   WHERE  ${strCondWhere}
	   AND ${strWhere}
	   AND C.FLAG  = 1
	   ORDER BY ${strOrderby}
	   ${strEndPaging}
    </select>

	<select id="selectCardTypeDtl" parameterType="com.icignal.loyalty.membershipcard.cardmaster.dto.request.LoyCardTypeReqDto"
									resultType="com.icignal.loyalty.membershipcard.cardmaster.dto.response.LoyCardTypeResDto">
		/* LoyCardMasterMapper.selectCardTypeDtl */
		SELECT
			C.RID         		AS rid
			,C.CARD_KIND_NO		AS cardKindNo
			,C.CARD_KIND_NM		AS cardKindNm
			,C.BIN_NO_RULE		AS binNoRule
			,C.CARD_TYPE		AS cardType
			,C.MAKE_TYPE		AS makeType
			,C.RID_CHNL_REF		AS ridChnl
			,D.CHNL_NM			AS chnlNm
			,C.RID_CLUB_REF		AS ridClub
			,E.CLUB_NM			AS clubNm
			,C.RID_TIER_REF		AS ridTier
			,F.TIER_NM			AS tierNm
		FROM LOY.LOY_CARD_KIND  C
		LEFT OUTER JOIN LOY.LOY_CHNL D ON C.RID_CHNL_REF = D.RID AND D.FLAG = 1
		LEFT OUTER JOIN LOY.LOY_CLUB E ON C.RID_CLUB_REF = E.RID AND E.FLAG = 1
		LEFT OUTER JOIN LOY.LOY_TIERS F ON C.RID_TIER_REF = F.RID AND F.FLAG = 1
		WHERE 1=1
		AND C.RID = #{rid}
		AND C.FLAG  = 1
	</select>

    <insert id="insertCardTypeDtl" parameterType="com.icignal.loyalty.membershipcard.cardmaster.dto.request.LoyCardTypeReqDto">
	 	/* LoyCardMasterMapper.insertCardTypeDtl */
		INSERT INTO LOY.LOY_CARD_KIND (
			RID,
			CREATE_BY,
			MODIFY_BY,
			CARD_KIND_NO,
			CARD_KIND_NM,
			MAKE_TYPE,
			BIN_NO_RULE,
			CARD_TYPE,
			RID_TIER_REF,
			RID_CLUB_REF,
			RID_CHNL_REF
		) VALUES (
			#{rid},
			#{createBy},
			#{modifyBy},
			LOY.FN_GET_CARD_TYPE_NO(),
			#{cardKindNm},
			#{makeType},
			#{binNoRule},
			#{cardType},
			#{ridTier},
			#{ridClub},
			#{ridChnl}
		)
	</insert>
	
	<update id="updateCardTypeDtl" parameterType="com.icignal.loyalty.membershipcard.cardmaster.dto.request.LoyCardTypeReqDto">
		UPDATE
			LOY.LOY_CARD_KIND
		SET
			MODIFY_DATE = SYSDATE,
			MODIFY_BY = #{modifyBy},
			CARD_KIND_NM = #{cardKindNm},
			MAKE_TYPE = #{makeType},
			BIN_NO_RULE = #{binNoRule},
			CARD_TYPE =  #{cardType},
			RID_TIER_REF =  #{ridTier},
			RID_CLUB_REF =  #{ridClub},
			RID_CHNL_REF =  #{ridChnl}
		WHERE RID = #{rid}
	</update>

    <select id="selectIssuedCardList" parameterType="com.icignal.loyalty.membershipcard.cardmaster.dto.request.LoyIssuedCardReqDto"
								resultType="com.icignal.loyalty.membershipcard.cardmaster.dto.response.LoyIssuedCardResDto">
        /* LoyCardMasterMapper.selectCardList */
		select
			   mc.rid            									AS rid,
			   mc.CARD_NO										    AS cardNo,
		       m.mbr_no          									AS mbrNo,
		       mc.stat           									AS stat,
		       to_char(mc.issue_date,'yyyy-MM-dd')     				AS issueDate,
		       to_char(mc.leav_date,'yyyy-MM-dd') 					AS leavDate,
		       c.chnl_nm        									AS chnlNm,
		       to_char(mc.create_date,'yyyy-MM-dd HH24:MI:SS')    	AS createDate,
		       to_char(mc.modify_date,'yyyy-MM-DD HH24:MI:SS')      AS modifyDate,
		       e.name            									AS modifyBy,
		       m.rid 											 	AS ridMbr,
			   ${strColumn}
		FROM loy.loy_mbr_card    mc
		     INNER JOIN loy.loy_mbr m ON mc.rid_mbr = m.rid AND m.flag = 1
		     LEFT OUTER JOIN LOY.LOY_CHNL c ON mc.rid_chnl = c.rid AND c.flag = 1
		     LEFT OUTER JOIN com.crm_user d ON mc.modify_by = d.rid
		     LEFT OUTER JOIN com.employee e ON d.id_employee = e.id
		WHERE  ${strCondWhere}
		AND ${strWhere}
		AND mc.flag = 1
		AND mc.rid_card_kind = #{ridCardKind}
		ORDER BY ${strOrderby}
		${strEndPaging}
    </select>

	<!-- 카드 BIN 리스트 조회  -->
	<select id="selectCardBinList" parameterType="com.icignal.loyalty.membershipcard.cardmaster.dto.request.LoyCardBinReqDto"
								   resultType="com.icignal.loyalty.membershipcard.cardmaster.dto.response.LoyCardBinResDto">
		/* LoyCardMasterMapper.selectCardBinList */
		SELECT
			A.RID 								 AS rid,
			E.NAME             					 AS modifyBy,
			TO_CHAR(A.MODIFY_DATE,'YYYY-MM-DD')  AS modifyDate,
			A.START_NO							 AS startNo,
			A.END_NO							 AS endNo,
			TO_CHAR(A.VAILD_END_DT,'YYYY-MM-DD') AS validEndDt,
			${strColumn}
		FROM
		LOY.LOY_CARD_BIN A
		LEFT OUTER JOIN COM.CRM_USER CU ON A.MODIFY_BY = CU.RID
		LEFT OUTER JOIN COM.EMPLOYEE E ON CU.ID_EMPLOYEE = E.ID
		WHERE  ${strCondWhere}
		AND ${strWhere}
		AND A.FLAG  = 1
		AND A.RID_CARD_KIND = #{ridCardKind}
		ORDER BY ${strOrderby}
		${strEndPaging}
	</select>

	<!-- 카드 BIN 단건 조회  -->
	<select id="selectCardBinDetail" parameterType="com.icignal.loyalty.membershipcard.cardmaster.dto.request.LoyCardBinReqDto"
			resultType="com.icignal.loyalty.membershipcard.cardmaster.dto.response.LoyCardBinResDto">
		/* LoyCardMasterMapper.selectCardBinList */
		SELECT
			A.RID 								 AS rid,
			A.START_NO							 AS startNo,
			A.END_NO							 AS endNo,
			TO_CHAR(A.VAILD_END_DT,'YYYY-MM-DD') AS validEndDt
		FROM
		LOY.LOY_CARD_BIN A
		WHERE  1=1
		AND A.FLAG  = 1
		AND A.RID_CARD_KIND = #{ridCardKind}
	</select>
	
	<!-- 카드 BIN 등록 -->
	<insert id="insertCardBin" parameterType="com.icignal.loyalty.membershipcard.cardmaster.dto.request.LoyCardBinReqDto" >
		/* LoyCardMasterMapper.insertCardBin */
		INSERT INTO LOY.LOY_CARD_BIN (
			RID
			, CREATE_BY
			, MODIFY_BY
			, RID_CARD_KIND
			, START_NO
			, END_NO
			, VAILD_END_DT
		) VALUES (
			com.getNewID('')
			, #{createBy}
			, #{modifyBy}
			, #{ridCardKind}
			, #{startNo}
			, #{endNo}
			, TO_DATE(#{validEndDt}, 'YYYY-MM-DD')
		)
	</insert>
	
	<!-- 카드 BIN 수정 -->
	<update id="updateCardBin" parameterType="com.icignal.loyalty.membershipcard.cardmaster.dto.request.LoyCardBinReqDto" >
		/* LoyCardMasterMapper.updateCardBin */
		UPDATE LOY.LOY_CARD_BIN
		   SET MODIFY_DATE = SYSDATE
		     , MODIFY_BY = #{modifyBy}
		     , RID_CARD_KIND = #{ridCardKind}
		     , START_NO = #{startNo}
		     , END_NO = #{endNo}
			 , VAILD_END_DT = TO_DATE(#{validEndDt}, 'YYYY-MM-DD')
		 WHERE RID = #{rid} 
	</update>
	
	<!-- 카드 BIN 삭제 -->
	<update id="deleteCardBin" parameterType="com.icignal.loyalty.membershipcard.cardmaster.dto.request.LoyCardBinReqDto" >
		/* LoyCardMasterMapper.deleteCardBin */
		UPDATE LOY.LOY_CARD_BIN
		   SET MODIFY_DATE = SYSDATE
		     , MODIFY_BY = #{modifyBy}
		     , flag = flag + 1
		 WHERE RID = #{rid} 
	</update>
	
	<!-- 카드번호 pool 조회 -->
	<select id="selectCardNoPoolList" parameterType="com.icignal.loyalty.membershipcard.cardmaster.dto.request.LoyCardNoPoolReqDto"
									  resultType="com.icignal.loyalty.membershipcard.cardmaster.dto.response.LoyCardNoPoolResDto">
		/* LoyCardMasterMapper.selectCardNoPoolList */
		SELECT T1.RID AS rid
			, T1.TITLE AS title
			, TO_CHAR(T1.CREATE_DATE, 'YYYY-MM-DD') AS createDate
			, TO_CHAR(T1.MODIFY_DATE, 'YYYY-MM-DD') AS modifyDate
			, T1.CARD_NO AS cardNo
			, TO_CHAR(T1.REG_DT, 'YYYY-MM-DD') AS regDt
			, T1.STAT_CD AS statCd
			, ${strColumn}
		FROM LOY.LOY_CARD_NO_POOL T1
		WHERE  ${strCondWhere}
		AND ${strWhere}
		AND T1.FLAG  = 1
		AND T1.RID_CARD_KIND = #{ridCardKind}
		ORDER BY ${strOrderby}
		${strEndPaging}
	</select>

	<select id="selectCardNoPoolListForExcelExport" parameterType="com.icignal.loyalty.membershipcard.cardmaster.dto.request.LoyCardNoPoolReqDto"
																				resultType="com.icignal.loyalty.membershipcard.cardmaster.dto.response.LoyCardNoPoolResDto">
		/* LoyCardMasterMapper.selectCardNoPoolList */
		SELECT T1.RID AS rid
			, T1.TITLE AS title
			, TO_CHAR(T1.CREATE_DATE, 'YYYY-MM-DD') AS createDate
			, TO_CHAR(T1.MODIFY_DATE, 'YYYY-MM-DD') AS modifyDate
			, T1.CARD_NO AS cardNo
			, TO_CHAR(T1.REG_DT, 'YYYY-MM-DD') AS regDt
			, T1.STAT_CD AS statCd
			, ${strColumn}
		FROM LOY.LOY_CARD_NO_POOL T1
		WHERE T1.FLAG = 1
		AND T1.RID_CARD_KIND = #{ridCardKind}
		AND T1.STAT_CD = '01'
	</select>
	
	<!-- 카드 번호 생성 -->
	<parameterMap id="callGenCardNoBulkMap" type="java.util.Map">
		<parameter property="p_commit_yn" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
		<parameter property="p_bin" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
		<parameter property="p_typ" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
		<parameter property="p_cnt" jdbcType="INTEGER" javaType="java.lang.Integer" mode="IN"/>
		<parameter property="p_card_kind" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
		<parameter property="p_title" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
		<parameter property="p_create_by" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
		<parameter property="p_rst" jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
		<parameter property="p_rst_msg" jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
	</parameterMap>

  	<update id="callGenCardNoBulk" parameterMap="callGenCardNoBulkMap" statementType="CALLABLE">
		{ CALL LOY.PKG_LOY_CARDNO_CR.SP_CARDNO_BULK( ?, ?, ?, ?, ?, ?, ?, ?, ? ) }
	</update>

	<!-- 카드번호 pool 수정 -->
	<update id="updateCardNoPool" parameterType="java.lang.String">
		/* LoyCardMasterMapper.updateCardNoPool */
		MERGE INTO LOY.LOY_CARD_NO_POOL T
		USING (SELECT * FROM LOY.LOY_CARD_NO_POOL_TEMP WHERE RID_TR = #{ridTr}) S
		ON (T.CARD_NO = S.CARD_NO)
		WHEN MATCHED THEN
		UPDATE SET T.MODIFY_BY = S.MODIFY_BY
				 , T.MODIFY_DATE = SYSDATE
				 , T.STAT_CD = '02'
				 , T.TITLE = S.TITLE
				 , T.REG_DT = TO_DATE(S.REG_DT, 'YYYY-MM-DD')
	</update>
	
	<!-- 카드번호 pool temp 삭제 -->
	<delete id="deleteCardNoPoolTemp" parameterType="java.lang.String">
		DELETE FROM LOY.LOY_CARD_NO_POOL_TEMP WHERE RID_TR = #{ridTr}
	</delete>

</mapper>