<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icignal.marketing.executionStatus.mapper.MktexecutionStatusMapper">

    <!-- /**************************************
    -   관련 파일             : MktexecutionStatusMapper.java
    ============================== ==============
    -   제목                  : MKT.MKT_CAM_MST 목록 전체 조회
    -   설명                  : 
    -   결과형태             :
    ============================================
    -   입력              :
    -   출력              :
    ============================================
    -   작성자                : LEE GYEONG YOUNG
    -   작성일                : 2020.07.27
    ***************************************/ -->
    <select id="selectCampaignListForExecResult" parameterType="com.icignal.marketing.executionStatus.dto.request.MktexecutionStatusSelectCampaignListForExecResultReqDto" 
    							resultType="com.icignal.marketing.executionStatus.dto.response.MktexecutionStatusSelectCampaignListForExecResultResDto">
    	/* MktexecutionStatusMapper.selectCampaignListForExecResult */
		SELECT T1.ID as id
			 , T1.DISP_NO as dispNo
			 , T1.CAM_NM as camNm 
			 , convert(varchar(10),T1.CAM_START_DD,120) as camStartDd
			 , convert(varchar(10),T1.CAM_END_DD,120) as camEndDd
			 , C1.MARK_NAME as c1markName
			 , C2.MARK_NAME as c2markName
			 , E1.NAME as name
			 , convert(varchar,T1.CREATE_DATE,112) as createDate
			 , ${strColumn}
		FROM MKT.MKT_CAM_MST T1 WITH (NOLOCK) 
			LEFT OUTER JOIN COM.COMM_CODE C1 WITH (NOLOCK) ON C1.FLAG = 1 AND C1.LANG = #{lang} AND C1.GROUP_CODE = 'MKT_CAM_STAT' AND C1.CODE_NAME = T1.CAM_STATUS_CD 
			LEFT OUTER JOIN COM.COMM_CODE C2 WITH (NOLOCK) ON C2.FLAG = 1 AND C2.LANG = #{lang} AND C2.GROUP_CODE = 'MKT_CAM_TYPE_CD' AND C2.CODE_NAME = T1.CAM_TYPE_CD
			LEFT OUTER JOIN COM.EMPLOYEE E1 WITH (NOLOCK) ON E1.ID = T1.PLAN_ID 
		WHERE 1=1
			   AND ${strCondWhere}<!-- 공통조회조건 파라미터 -->
          	   AND  ${strWhere}<!-- 그리드 검색 파라미터 -->
			   AND T1.FLAG = 1
			   AND T1.TYPE != 'RUL'
			   AND T1.CAM_STATUS_CD != 'W'
		ORDER  BY ${strOrderby}<!-- 그리드에서 파라미터를 받아서 order by를 함. -->
       	${strEndPaging}<!-- 그리드 페이징1,2,3,... -->
    </select>

    <!-- /**************************************
    -   관련 파일             : MktexecutionStatusMapper.java
    ============================== ==============
    -   제목                  : MKT.MKT_CAM_MST 특정 목록 조회
    -   설명                  : 
    -   결과형태             :
    ============================================
    -   입력              :
    -   출력              :
    ============================================
    -   작성자                : LEE GYEONG YOUNG
    -   작성일                : 2020.07.27
    ***************************************/ -->
    <select id="selectCampaignListForExecResultOfList" parameterType="com.icignal.marketing.executionStatus.dto.request.MktexecutionStatusSelectCampaignListForExecResultOfListReqDto" 
    							resultType="com.icignal.marketing.executionStatus.dto.response.MktexecutionStatusSelectCampaignListForExecResultOfListResDto">
    	/* MktexecutionStatusMapper.selectCampaignListForExecResultOfList */
   		SELECT T1.ID as t1Id
 			, T2.ID as t2Id
 			, isnull(T2.EXE_SEQ, T1.EXE_SEQ) as exeSeq
 			, isnull(convert(varchar,T2.EXE_DT,120), convert(varchar,T1.EXE_DT,120)) as exeDt
 			, C1.MARK_NAME as c1markName
 			, isnull(C3.MARK_NAME, C2.MARK_NAME) as c2markName
 			, isnull(C5.MARK_NAME, C4.MARK_NAME) as c3markName
			 , T1.EXE_TGT_AMT as exeTgtAmt
			 , T2.CHNL_SEND_CNT as chnlSendCnt
			 , T0.CTRL_GROUP_CNT as ctrlGroupCnt
			 , T0.DUP_RMV_CNT as dupRmvCnt
			 , T2.PRMS_CHK_RMV_CNT as prmsChkRmvCnt
			 , T2.FATI_CHK_RMV_CNT as fatiChkRmv
			 , T2.EXCEPT_RMV_CNT as exceptRmvCnt
			 , T2.SEND_SUCES_CNT as sendSucesCnt
			 , T2.SEND_FAIL_CNT as sendFailCnt
			 , T2.REV_SUCES_CNT as revSucesCnt
			 , T2.READ_SUCES_CNT as readSucesCnt
			 , ${strColumn}
  		FROM MKT.MKT_TGT_HAD T0 WITH (NOLOCK) 
  		  JOIN MKT.MKT_EXE_INFO_ITEM T1 WITH (NOLOCK) ON T1.FLAG = 1 AND T1.CAM_ID = T0.CAM_ID 
		  LEFT OUTER JOIN MKT.MKT_EXE_INFO_CHNL T2 WITH (NOLOCK) ON T2.FLAG = 1 AND T2.EXE_INFO_ITEM_ID = T1.ID
		  LEFT OUTER JOIN COM.COMM_CODE C1 WITH (NOLOCK) ON C1.FLAG = 1 AND C1.LANG = #{lang} AND C1.GROUP_CODE = 'MKT_CAM_CHNL_TYPE_CD' AND C1.CODE_NAME = T2.CHNL_TYPE_CD 
		  LEFT OUTER JOIN COM.COMM_CODE C2 WITH (NOLOCK) ON C2.FLAG = 1 AND C2.LANG = #{lang} AND C2.GROUP_CODE = 'MKT_EXEC_STATUS' AND C2.CODE_NAME = T1.EXE_INFO_STATUS_CD 
		  LEFT OUTER JOIN COM.COMM_CODE C3 WITH (NOLOCK) ON C3.FLAG = 1 AND C3.LANG = #{lang} AND C3.GROUP_CODE = 'MKT_EXEC_STATUS' AND C3.CODE_NAME = T2.EXE_INFO_STATUS_CD 
		  LEFT OUTER JOIN COM.COMM_CODE C4 WITH (NOLOCK) ON C4.FLAG = 1 AND C4.LANG = #{lang} AND C4.GROUP_CODE = 'MKT_EXEC_STATUS_BAT_DETAIL' AND C4.CODE_NAME = T1.EXE_INFO_STATUS_BAT_DTL_CD 
		  LEFT OUTER JOIN COM.COMM_CODE C5 WITH (NOLOCK) ON C5.FLAG = 1 AND C5.LANG = #{lang} AND C5.GROUP_CODE = 'MKT_EXEC_STATUS_BAT_DETAIL' AND C5.CODE_NAME = T2.EXE_INFO_STATUS_BAT_DTL_CD 
 		WHERE 1=1
 		AND ${strCondWhere}<!-- 공통조회조건 파라미터 -->
        AND  ${strWhere}<!-- 그리드 검색 파라미터 -->
 		AND T0.CAM_ID = #{camId}
 		ORDER  BY ${strOrderby}<!-- 그리드에서 파라미터를 받아서 order by를 함. -->
       	${strEndPaging}<!-- 그리드 페이징1,2,3,... -->
    </select>

    <!-- /**************************************
    -   관련 파일             : MktexecutionStatusMapper.java
    ============================== ==============
    -   제목                  : MKT.MKT_TGT_DTL 특정 목록 조회
    -   설명                  : 
    -   결과형태             :
    ============================================
    -   입력              :
    -   출력              :
    ============================================
    -   작성자                : LEE GYEONG YOUNG
    -   작성일                : 2020.07.27
    ***************************************/ -->
    <select id="selectCampaignDetailForExecResultOfList" parameterType="com.icignal.marketing.executionStatus.dto.request.MktexecutionStatusSelectCampaignDetailForExecResultOfListReqDto" 
    							resultType="com.icignal.marketing.executionStatus.dto.response.MktexecutionStatusSelectCampaignDetailForExecResultOfListResDto">
    	/* MktexecutionStatusMapper.selectCampaignDetailForExecResultOfList */
	 SELECT T1.ID as id
	   , T1.MEM_ID as memId
	   , T1.CTRL_GROUP_YN as ctrlGroupYn
	   <!-- 'S'이면 'Y' 아니면 'N' -->
	   , CASE WHEN T2.BAT_SEND_STATUS = 'S' THEN 'Y' ELSE 'N' END as batSendStatus 
	   , T2.SEND_SUCES_YN as sendSucesYn
	   , T2.SEND_FAIL_YN as sendFailYn
	   <if test="dataType == 'SMS'">
	   , NULL AS readSucesYn
	   , NULL AS revSucesYn
	   </if>
	   <if test="dataType == 'EMAIL'">
	   , T2.OPEN_SUCES_YN AS readSucesYn
	   , NULL AS revSucesYn
	   </if>
	   <if test="dataType == 'PUSH'">
	   , T2.READ_SUCES_YN AS readSucesYn
	   , T2.REV_SUCES_YN AS revSucesYn
	   </if>
	   <if test="dataType == 'KAKAO'">
	   , NULL AS readSucesYn
	   , NULL AS revSucesYn
	   </if>	   
	   , ${strColumn} 
	   FROM MKT.MKT_TGT_DTL T1 
	    LEFT OUTER JOIN
	    <if test="dataType == 'SMS'">
	    	MKT.MKT_MSG_SEND_LOG T2 WITH (NOLOCK)
	    </if>
	    <if test="dataType == 'EMAIL'">
	    	MKT.MKT_EMAIL_SEND_LOG T2 WITH (NOLOCK)
	    </if>
	    <if test="dataType == 'PUSH'">
	    	MKT.MKT_PUSH_SEND_LOG T2 WITH (NOLOCK)
	    </if>
	    <if test="dataType == 'KAKAO'">
	    	MKT.MKT_KAKAO_SEND_LOG T2 WITH (NOLOCK)
	    </if>	    	    	    
	    ON T2.FLAG = 1 AND T2.CAM_TGT_DTL_ID = T1.ID AND T2.MKT_EXE_INFO_ITEM_ID = #{itemId} AND T2.MKT_EXE_INFO_CHNL_ID = #{chnlId}
	   WHERE 1=1
 		AND ${strCondWhere}<!-- 공통조회조건 파라미터 -->
        AND  ${strWhere}<!-- 그리드 검색 파라미터 -->
	  	AND T1.FLAG = 1
	    AND T1.EXE_INFO_ITEM_ID = #{itemId}
 		ORDER  BY ${strOrderby}<!-- 그리드에서 파라미터를 받아서 order by를 함. -->
       	${strEndPaging}<!-- 그리드 페이징1,2,3,... -->
    </select>
    <!-- /**************************************
    -   관련 파일             : MktexecutionStatusMapper.java
    ============================== ==============
    -   제목                  : MKT.MKT_TGT_DTL_RMV 채널 실패 사유 조회
    -   설명                  : 
    -   결과형태             :
    ============================================
    -   입력              :
    -   출력              :
    ============================================
    -   작성자                : LEE GYEONG YOUNG
    -   작성일                : 2020.07.28
    ***************************************/ -->
    <select id="selectCampaignDetailForExecResultErrorReason" parameterType="com.icignal.marketing.executionStatus.dto.request.MktexecutionStatusSelectCampaignDetailForExecResultErrorReasonReqDto" 
    							resultType="com.icignal.marketing.executionStatus.dto.response.MktexecutionStatusSelectCampaignDetailForExecResultErrorReasonResDto">
    	/* MktexecutionStatusMapper.selectCampaignDetailForExecResultErrorReason */
    	 SELECT
			 T1.MBR_NO as mbrNo
			 , T1.FATI_CHK_RMV_YN as fatiChkRmvYn 
			 , T1.INFO_UTIL_YN  as infoUtilYn
			 , T1.MKT_UTIL_YN  as mktUtilYn
			 , T1.SMS_CONSENT_YN as smsConsentyn
			 , T1.PUSH_CONSENT_YN as pushConsentyn
			 , T1.EMAIL_CONSENT_YN as emailConsentyn
			 , T1.KAKAO_CONSENT_YN as kakaoConsentYn
			 , T1.HP_YN as hpYn
			 , T1.EMAIL_YN as emailYn
		 FROM MKT.MKT_TGT_DTL_RMV T1 WITH (NOLOCK)
		 WHERE T1.FLAG = 1
		   AND T1.TGT_DTL_ID = #{id}
		   AND T1.EXE_INFO_CHNL_ID  = #{chnlId}
		 ORDER  BY ${strOrderby}<!-- 그리드에서 파라미터를 받아서 order by를 함. -->
    </select>            
</mapper>