
.selectbox_type1{ position:relative; display:inline-block; text-align:left;}
.selectbox_type1 .combo_num_box{ height:25px; line-height:25px; color:#666;  text-indent:7px; border:1px solid #ddd;}
.selectbox_type1 .select_list{ position:absolute; top:-1px; left:-1px; z-index:9999; border:2px solid #464646; min-width: 100%; max-height:200px; overflow-y:auto; overflow-x:hidden; display:none; background:#fff;}
.selectbox_type1 .select_list.up{top:auto; bottom:0px;}
.selectbox_type1 .select_list div{color:#3c3c3c; padding:5px 0; text-indent:7px; cursor:pointer; max-width: 275px; text-overflow: ellipsis; white-space: nowrap}
.selectbox_type1 .select_list div:hover{ background:#f1f1f1;}
.selectbox_type1 .select_btn{position:absolute; right:3px; top:1px; width:26px; height:23px; display:inline-block; background:url(../images/select_btn.gif) no-repeat center 9px; background-color:#ffffff;}
.selectbox_type1 .select_btn:hover,
.selectbox_type1:hover .select_btn{background:url(../images/select_btn.gif) no-repeat center 9px; background-color:#f1f1f1;}

.selectbox_type1.mall .select_btn{position:absolute; right:1px; top:1px; width:26px; height:30px; display:inline-block; background:url(../images/select_btn.gif) no-repeat center 12px; }
.selectbox_type1.mall .select_btn:hover,
.selectbox_type1.mall:hover .select_btn{background:url(../images/select_btn.gif) no-repeat center 12px; background-color:#f1f1f1;}
