@charset "utf-8";

.e-fileexplorer-toolbar-icon.Refresh{background:url('/resources/images/marketing/editor/custom_refresh.gif') no-repeat; width:82px; height:25px;font-family:돋움;margin-top:0px;}
.e-fileexplorer-toolbar-icon.Upload{background:url('/resources/images/marketing/editor/custom_upload.gif') no-repeat; width:96px; height:25px;font-family:돋움;margin-top:0px;}
.e-fileexplorer-toolbar-icon.Delete{background:url('/resources/images/marketing/editor/custom_delete.gif') no-repeat; width:59px; height:25px;font-family:돋움;margin-top:0px;}
