@charset "utf-8";

.e-fileexplorer-toolbar-icon.Refresh{background:url('/resources/images/marketing/editor/custom_refresh_en.gif') no-repeat; width:82px; height:25px;font-family:돋움;margin-top:0px;}
.e-fileexplorer-toolbar-icon.Upload{background:url('/resources/images/marketing/editor/custom_upload_en.gif') no-repeat; width:80px; height:25px;font-family:돋움;margin-top:0px;}
.e-fileexplorer-toolbar-icon.Delete{background:url('/resources/images/marketing/editor/custom_delete_en.gif') no-repeat; width:73px; height:25px;font-family:돋움;margin-top:0px;}
