
@charset "utf-8";

/*#content *{font-size:11px}*/
#content .page-title h1,
#content .page-title span{font-size:13px;font-weight:600;line-height:1.4}
#content .page_btn_area{background:#084270}
#content .page_btn_area > div:nth-child(1){font-size:12px}
#content .page_btn_area > div:nth-child(1) span{display:inline-block;font-size:12px;line-height:1.5}
#content .temp_title{font-size:11px}
#content .e-acrdn .e-select a,
#content .e-acrdn .e-select.e-active a{font-size:12px}
#content .fa{vertical-align:baseline}
#content .glyphicon{top:-2px}

/* id="content" font-size:11px 설정 */
.btn, 
.store_manage .right_panel .btn,
input[type="text"], input[type="number"], input[type="password"],
.control_content input[type="password"], textarea,
select, .select select, .form-control,
.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea,
.control-label,
.row label,
.underline .row .control-label,
.ifv_grid_templete .empty_msg,
.ui-jqgrid-sortable,
.ui-jqgrid-btable td,
.ui-jqgrid-btable td a,
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr,
.ifv_grid_templete > .page .total_area, 
.ifv_grid_templete > .page .total_area *,
.tab-list > li > a, 
.hide-tab-list > li > a,
.jstree-anchor {font-size:11px;}

/* 버튼 권한을 위한 버튼 display: none 처리 */
.btn {display: none;}


.page-title{min-height:30px;padding:10px;background:#fff;border-bottom:2px solid #b3b3b3}
.page-title h1{color:#666}
.page-title span{color:#629ae4}

.page_btn_area{min-height:25px;margin-bottom:5px;padding:5px 20px 4px 10px;line-height:1.0;background:#084270;border:0 none;border-bottom:1px solid #003264;color:#fff}
.page_btn_area > div:nth-child(1){line-height:23px}
.page_btn_area .control-label{margin-bottom:0}

.temp_title,
.form-horizontal .page_btn_area,
.half_wrap .page_btn_area,
.tab-contents .form-horizontal .page_btn_area,
.e-dialog .page_btn_area{padding-left:0;background:0 none !important;color:#094371;border-bottom:1px solid #ddd}

.form-horizontal .page_btn_area .btn,
.half_wrap .page_btn_area .btn{background-color:#74a9b7}
.form-horizontal .page_btn_area .btn.disabled, 
.form-horizontal .page_btn_area .btn[disabled],
.half_wrap .page_btn_area .btn.disabled, 
.half_wrap .page_btn_area .btn[disabled]{opacity:0.5}

.form-horizontal,
.half_wrap{padding:5px 10px}
.form-horizontal .half_wrap{padding:0}
.page_btn_area + .form-horizontal{padding:5px 10px}
.form-horizontal.underline{border-bottom:0 none}

.btn, .store_manage .right_panel .btn{min-width:50px;min-height:20px;vertical-align:middle;margin:1px 0;padding:3px 5px 0;background-color:#629ae4;border:0 none}
.btn:active, .btn:focus, .btn:hover,
.store_manage .right_panel .btn:active,
.store_manage .right_panel .btn:focus,
.store_manage .right_panel .btn:hover{background:#629ae4}
/* 20180322 form element disabled 일 시 not-allowed 제외 - 김영환B 요청 - sjbaek */
.btn.disabled, .btn[disabled],
.store_manage .right_panel .btn.disabled,
.store_manage .right_panel .btn[disabled]{opacity:0.5;/* cursor:not-allowed; */ cursor: default; pointer-events:all !important}
.btn.btn-sm.btn-imgonly{height:20px;line-height:20px;border:0 none;background-color:#629ae4;color:#fff}
.ifv_search_box_search_btn,
.inner_btn,
.btn.btn_blueLight,
.ifv_search_box_search_btn.search_fl{min-width:40px;height:22px;margin:0 0 0 5px;padding:2px 5px 0;background-color:#629ae4;border-color:#629ae4;line-height:18px;font-weight:600;border-radius:2px}	
.ifv_search_box_search_btn:hover,
.inner_btn:hover{background-color:#629ae4;border-color:#629ae4}

input[type="checkbox"], input[type="radio"]{margin-top:0}
input[type="text"], input[type="number"], input[type="password"],
.control_content input[type="password"]{height:22px;line-height:22px;padding-top:0;padding-bottom:0}
textarea{vertical-align:top}
.smart-form .input input, .smart-form{height:22px}
select, .select select, .form-control{height:auto;min-height:22px;line-height:22px;margin:0;padding:2px 20px 2px 4px;}
.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {font-family: 'Malgun Gothic', '맑은 고딕', Dotum}
.swung_dash{line-height:22px}
.control-label,
.row label,
.underline .row .control-label{min-height:22px;padding-top:6px;padding-right:5px;line-height:1.3}
.asterisk{display:inline-block;margin:0;padding:0 2px  0 0;line-height:1.0;vertical-align:top}
/*
.form-horizontal .control-label,
.form-horizontal.group_box_bg .control-label{padding-top:0}
*/
.control_content,
.underline .row .control_content{padding:1px 5px 2px}
.underline .control_content input[type="checkbox"]{vertical-align:middle}
.input-group-addon > a{height:22px;line-height:15px}
.smart-form .icon-append, .smart-form .icon-prepend{width:17px;height:15px;line-height:15px}
_:-ms-fullscreen, :root .datepicker.text-right{padding-top:2px}
.search_box.ifv_search_box span{vertical-align:top}
.selectbox_type1 .combo_num_box{height:22px;line-height:22px}
.selectbox_type1 .select_btn{height:20px;background-position:50% 7px}
.selectbox_type1 .select_btn:hover,
.selectbox_type1:hover .select_btn{background-position:50% 7px}
.searchbox_search_input{padding:0}
.underline .qt_border{border-bottom:0 none}
.underline .row .control_content.desc_text{height:24px;line-height:24px;padding-top:0}
/*
.form-horizontal .checkbox-inline,
.form-horizontal .radio-inline{padding-top:2px}
*/
.form-horizontal .checkbox-inline,
.form-horizontal .radio-inline{padding-top:0;min-height:auto;margin-top:3px}
.form-horizontal .radio-inline input[type="checkbox"]{margin-top:0;padding:1px 0 0 3px;vertical-align:top}
.form-horizontal .iradio > label,
.form-horizontal .icheckbox > label{padding-top:0}
.form-horizontal .iradio,
.form-horizontal .icheckbox{display:inline-block;vertical-align:top;padding-top:3px}

.qt_border{padding-bottom:5px}
.half_wrap .half_content.qt_border{border-bottom:0 none}
.flex_btn_area{margin-right:5px}
.btn_searchitem_add_remove {width:23px;height:22px;margin:0;padding:0;font-size:0px;text-indent:-9999px;vertical-align: middle;}
.btn_searchitem_add_remove.itemPlusBtn, .btn_searchitem_add_remove.actionItemPlusBtn {background: url(/resources/images/marketing/common/btn_plus.png) center center no-repeat;}
.btn_searchitem_add_remove.itemMinusBtn, .btn_searchitem_add_remove.actionItemMinusBtn{background: url(/resources/images/marketing/common/btn_minus.gif) center center no-repeat;}
.mkt_input_pd_rt{padding-right:5px}
.e-acrdn>.e-content{padding:5px 10px}
.campaign_load_contents{border:0 none}
.ifv_simple_pager > ul > li a{width:22px;height:22px;line-height:22px}
.file_box{padding:5px 10px}
.fa.fa-select,
.fa-new,
.fa-delete{display:none} /* font awesome 해당클래스 없음 */
.well{margin-bottom:0;padding:5px 10px} /* 확인필요(회원관리 > 멤버쉽 회원(단체)) */

.e-acrdn .e-select{border:0 none;border-top:1px solid #b3b3b3}
.e-acrdn .e-select:first-child{border-top:0 none}
.e-acrdn .e-select,
.e-acrdn .e-select.e-active{background:#084270;color:#fff}
.e-acrdn .e-select a,
.e-acrdn .e-select span,
.e-acrdn .e-select.e-active a,
.e-acrdn .e-select.e-active span{color:#fff}
.e-acrdn .e-select:hover,
.e-acrdn .e-select.e-active:hover{background:#084270;border-color:#b3b3b3;color:#fff}
.e-acrdn .e-select:hover a,
.e-acrdn .e-select:hover span,
.e-acrdn .e-select.e-active:hover a,
.e-acrdn .e-select.e-active:hover span{color:#fff}
.e-acrdn>.e-select>.e-icon{margin-top:7px}
.e-acrdn>.e-content{border:0 none}

/* grid */
.ifv_grid_templete > .filter_area{height:30px}
.ifv_grid_templete .grid_con{padding:5px 0 0}
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr{background:#f1f5f8}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{background-color:#d9edf7;color:#3b9cca}
.ui-jqgrid .ui-icon-desc{margin-top:0}
.ifv_grid_templete > .page .total_area{left:10px}

/* tab */
.tab-mask{padding-top:6px;background-color:#296697;border-bottom:0 none}
.tab-list-mask{padding-left:10px}
.tab-list > li{padding:0 1px;border:0 none;border-radius:0;background:0 none}
.tab-list > li > a{min-width:auto;padding:4px 10px 3px;background-color:#589bd2;color:#fff;border-radius:3px 3px  0 0;box-sizing:border-box}
.tab-list > li.on{background:0 none}
.tab-list > li.on > a{color:#666;background-color:#fff;font-weight:700;letter-spacing:-1px;}
.tab-mask .scroll-control button{width:22px;height:22px;border-radius:50%;color:#296697;border-color:#296697}
.hide-tab > button{color:#296697;border-color:#296697}
.hide-tab-list{min-width:120px;border-color:#296697}
.hide-tab-list > li{border-color:#dadada}
.hide-tab-list > li > a{color:#666}
.hide-tab-list > li > a:focus,
.hide-tab-list > li > a:hover{background-color:#f2f2f2}
.hide-tab-list > li.on{background-color:#296697}
.hide-tab-list > li.on >a {color:#fff}
.hide-tab-list > li.on >a:focus,
.hide-tab-list > li.on >a:hover{background-color:#296697}
.tab-contents{padding:5px 10px;border:0 none;background:#fff}
.tab-contents .page_btn_area{padding:3px 10px 1px;background:#808c96 !important;border-color:#77848e;border-radius:3px 3px  0 0}
.tab-contents .page_btn_area .btn{background-color:#06375e}
.tab-contents .page_btn_area .btn.disabled,
.tab-contents .page_btn_area .btn[disabled]{opacity:0.5}
.tab-contents .form-horizontal{padding-left:0;padding-right:0}
.tab-contents .form-horizontal .half_wrap{padding-left:10px;padding-right:10px}
.tab-contents .ifv_grid_templete .grid_con{padding-right:0;padding-left:0}

/* popup */
.pop-scrollmask{overflow:auto;max-height:450px}
.e-dialog input[type=text], .e-dialog input[type=number], .e-dialog input[type=password], .e-dialog textarea, .e-dialog select{font-size:11px}
/* .e-dialog *, .e-dialog input[type=text], .e-dialog input[type=number], .e-dialog input[type=password], .e-dialog textarea, .e-dialog select{font-size:11px} */
.e-dialog .fa{vertical-align:baseline}
.e-dialog > .e-titlebar{padding:7px 10px !important;background-color:#2a2d32 !important;color:#fff !important;border-bottom:1px solid #7f8183 !important}
.e-dialog > .e-titlebar .e-title{vertical-align:middle}
.e-dialog .e-title{font-size:13px}
.e-dialog .page_btn_area span{font-size:12px;line-height:1.4}
.e-dialog .popup_container.e-dialog.e-widget-content,
.e-dialog .e-widget-content{padding:10px 10px 0}
.e-dialog .popup_container .pop_inner_wrap{padding:0; padding-top:10px;}
.e-dialog .popup_container .page-title{min-height:auto;margin-bottom:10px;padding:0 0 5px}
.e-dialog .popup_container .page-title h1{font-size:13px;line-height:1.5;font-weight:600}
.e-dialog .popup_container .form-horizontal{padding-left:0;padding-right:0}
.e-dialog .popup_container .btn,
.e-dialog .popup_container .form-horizontal .btn{background-color:#629ae4;color:#fff;border:0 none}
.e-dialog .popup_container .btn[disabled],
.e-dialog .popup_container .form-horizontal .btn[disabled],
.e-dialog .popup_container .btn.disabled,
.e-dialog .popup_container .form-horizontal .btn.disabled{opacity:0.5}
.e-dialog .pop_btn_area{height:auto !important;margin:10px -10px 0;padding:7px 0;border-top:1px solid #d5d5d5;background-color:#dedede}
.e-dialog .pop_btn_area .btn{padding-top:5px;padding-bottom:2px}
.e-dialog .e-close:before{color:#c5c2c0}
.pop_top_btn.mg_top{margin-top:0}

.time_content {padding: 0px !important;}
.time_content .smart-form {/* width: 100px; */ display: inline-block;}
.time_content input {padding-right: 35px}
.bootstrap-timepicker-widget {z-index: 100000011 !important;}
.bootstrap-timepicker-widget input[type=text] {padding: 0;}

tr.detail_row, .ui-widget-content tr.detail_row {
	background-color: #b4c7d1;
	color: #3083ab;
}

.content_textImage_con .image_qrcode {
    background: white;
    position: relative;
    margin: 0 auto 5px;
    width: 114px;
}


/* print preview */
.popup-table.well {
	border-bottom: 0px none;
	padding: 3px 0;
}

.table_wrap {
   width: 100%;
   border: 0px none;
}

.table_wrap > table {
   width: 100%;
   border-collapse: collapse;
}

.table_wrap > table tr, .table_wrap > table th, .table_wrap > table td  {
   border: 1px solid #8c8c8c;
   padding: 8px;
}

.table_wrap > table th {
   text-align: center;
   background-color: #eaeaea;
}

.table_wrap > table td {
   text-align: left;
}

.table_wrap > table td button {
   margin-left: 10px;
}

.table_wrap > table td.bg_gray {
   text-align: center;
   background-color: #eaeaea;
}

.table_wrap > table td.center {
   text-align: center;
}

.table_wrap > table td.right {
   text-align: right;
	float: none;
    position: static;
    right: auto;
}

.table_label_area > div {
   background-color: #c3c3c3;
   padding: 5px 8px;
   border: 1px solid #8c8c8c;
   font-weight: 700;
   color: #333;
   margin-bottom: 2px;
}

.custom_table.table_wrap {
	overflow-x: auto;
}

.custom_table.table_wrap > table th {
	min-width: 70px;
}

.custom_table.table_wrap > table th[colspan="2"] {
	min-width: 150px;
}

.title-campaign {
   height: 60px;
   margin-bottom: 10px;
   position: relative;
}

/* .title-campaign:after {
   content: '';
   height: 0px;
   overflow: hidden;
   display: block;
   clear: both;
} */

.title-campaign > .title {
   width: 50%;
   border-bottom: 3px solid #333;
   float: left;
   height: 100%;
   display: table;
}

.title-campaign > .title > h1 {
   color: #333;
   font-size: 20px;
   font-weight: 700;
   margin: 0px;
   display: table-cell;
}

.sign-area {
   height: 100%;
   float: right;
}

.sign-area ul {
   height: 100%;
}

.sign-area ul li {
   width: 50px;
   height: 100%;
   border: 1px solid #8c8c8c;
   border-right: 0px none;
   float: left;
}

.sign-area ul li:last-child {
   	border-right: 1px solid #8c8c8c;
}

.sign-area ul li p {
   border-bottom: 1px solid #8c8c8c;
   text-align: center;
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

/* campaignWorkFlow popup */
.add_text {
	display: inline-block;
	padding-top: 5px;
	color: #999;
}

.section {
	margin-top: 10px;
}

.table_wrap > table th.th-color1 {
	background-color: #cdd6da;
	color: #486e81;
	font-weight: bold;
}

.table_wrap > table td.td-color1 {
	background-color: #f1f5f7;
	color: #818181;
	font-weight: bold;
}

.table_wrap > table th.th-color2 {
	background-color: #c0d8e5;
	color: #2b7599;
	font-weight: bold;
}

.table_wrap > table td.td-color2 {
	background-color: #dfecf3;
	color: #3292c0;
	font-weight: bold;
}

.table_wrap > table td.tar {
	text-align: right;
}

.table_wrap > table td.tac {
	text-align: center;
}

/* 20180322 form element disabled 일 시 not-allowed 제외 - 김영환B 요청 - sjbaek */
html .control_content input[disabled], html .control_content select[disabled], .control_content html textarea[disabled] {
	cursor: default;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	select, .select select, .form-control{height:auto;min-height:22px;line-height:22px;margin:0;padding:2px 20px 2px 5px;}
}
.guide_area .chnl_guide textarea{
	margin-left:18px;
	height:80px;
	width:580px;
}