@CHARSET "UTF-8";


body, a, div, li, td, p, u, i{font-family:'Lucida Sans';}

#login{
	display:table;
	width:100%;
	background-image:url('../../images/marketing/login/login_bg.jpg');
	background-size:cover;
}
#login .content_area{display: table-cell; width:100%; padding: 0;}

.header{height:60px;}

#login #main{
	min-height: 310px;
	background:rgba(0,0,0,.4);
	border-top:1px solid rgba(255,255,255,.4);
	border-bottom:1px solid rgba(255,255,255,.4);
}
#login #main .login_txt{margin-top:40px; color:#fff;}
#login #main .login_txt .txt_main{font-weight:bold; font-size:14px; line-height:20px;}
#login #main .login_txt .txt_detail{margin-top:12px; font-size:12px; line-height:15px;}
.client-form header{padding: 40px 0 5px 0; background:transparent; font-size: 14px; line-height: 16px; color:#fefefe;}
.smart-form fieldset{padding:0; background:transparent;}
.smart-form fieldset .label{position:absolute; top:-9999px; left:-9999px; width:0; height:0; line-height:0; }
.smart-form .input input{border-color:#d5d5d5;}
.smart-form .input input:focus{border-color:#30a4d9;}
.smart-form .state-error input{background:#fff; border-color:#ea5050;}
.smart-form .state-success input{background:#fff;}
.smart-form .state-error+em{color:#ff5656;}
.smart-form .radio, .smart-form .checkbox{color:#fff;}
.smart-form .note, .note a{color:#49bef4;}
.btn{
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.smart-form footer{padding: 0; background:transparent;}
.smart-form footer .btn{margin: 0; width: 100%; height:37px; font-weight:bold;}
.btn-primary{color: #fffefe; background-color: #fe573a; border:0 none;}
.btn-primary:hover{color: #fffefe; background-color: #f34628; border:0 none;}

body>footer{position: absolute; left: 50%; bottom: 40px; margin-left: -73px; color: #fff;}

#content {
	padding-left: 15px;
	padding-right: 15px;
}

.smart-form .radio input:checked+i, .smart-form .checkbox input:checked+i, .smart-form .toggle input:checked+i {color: #fe573a;}
.smart-form .checkbox input + i:after {color: #fe573a;}

/* 2018.04.17 style변경 */
#login{background-image:url('../../images/marketing/login/login_bg2.jpg');font-family:'Malgun Gothic', '맑은 고딕', Dotum, Sans-Serif}
#login *{font-family:'Malgun Gothic', '맑은 고딕', Dotum, Sans-Serif}
#login #main{background:rgba(0,0,0,0.5)}
#login #main .login_txt{box-sizing:border-box;margin-top:50px;padding-right:20px;font-size:12px}
#login #main .login_txt strong{display:inline-block;margin-bottom:10px;font-size:16px;font-weight:bold;letter-spacing:.5px}
.client-form header{padding-top:50px}
#login .smart-form .input input{height:35px}
#login .smart-form .input input:-webkit-autofill,
#login .smart-form .input input:-webkit-autofill:hover,
#login .smart-form .input input:-webkit-autofill:focus{-webkit-box-shadow: 0 0 0px 1000px #fff inset !important}
#login .smart-form .input input::-webkit-input-placeholder{color:#999}
#login .smart-form .input input::-moz-placeholder{color:#999}
#login .smart-form .input input:-ms-input-placeholder{color:#999}
#login .smart-form .input input:-moz-placeholder{color:#999}
.smart-form .radio input:checked + i,
.smart-form .checkbox input:checked + i,
.smart-form .toggle input:checked + i,
.smart-form .checkbox input + i:after{color:#3276b1}
.smart-form .checkbox input + i:after{width:17px;height:17px;top:0;left:0}
.smart-form footer{border-top:0 none}
.smart-form footer .btn.btn-primary{font-size:16px}
.smart-form footer .btn.btn-primary,
.smart-form footer .btn.btn-primary:hover{background-color:#55a9d0}

.row section label {padding-right:0px;}
section.row-wrap .input {width:100%;padding-right:10px;}
section.row-wrap .btn.btn-primary {position:absolute;top:0;right:0;background-color: #55a9d0;margin:0;height:35px;font-weight:bold;padding:0 10px;}
section.row-wrap .btn.btn-primary:active {position:absolute;right:-1px;top:1px;left:initial;background-color: #55a9d0;margin:0;height:35px;font-weight:bold;padding:0 10px;}