<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Mon Sep 21 09:04:15 KST 2020-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icignal.kepler.common.mapper.KprCommonMapper">  

	<!-- /**************************************
	-	관련 파일		: KPRCommonMapper.java(getCommCodeList)
	============================================
	-	제목			: 공통코드 목록 조회
	-	설명			: 1. CommonDAO에서 공통코드 목록을 조회
						  2. 코드이름의 PROPERTY 값이 enableNA값이 같거나 'NA' 가 아니라면 공통코드 목록을 조회한다.
	-	결과형태		: 복수
	============================================
	-	입력
		groupCode		: 그룹 코드
	-	출력
		codeId			: 코드 Id
		codeName		: 코드 이름
		markName		: 표시 이름
	============================================
	-	작성자			: 류동균
	-	작성일			: 2015. 9. 22.
	***************************************/ -->
	<select id="getCommCodeList" parameterType="com.icignal.kepler.common.dto.request.KprCommonCodeReqDto" 
												resultType="com.icignal.kepler.common.dto.response.KprCommonCodeResDto">
	/* KprCommonMapper.getCommCodeList */
		SELECT	id				as codeId
				, code_name		as codeName
				, mark_name		as markName
				, ATTRIB01		as attrib01
				, ATTRIB02		as attrib02
				, ATTRIB03		as attrib03
				, ATTRIB04		as attrib04
				, ATTRIB05		as attrib05
		FROM	com.comm_code WITH (NOLOCK)
		WHERE	${strSVCType}
		and		flag	= 1
		<if test="groupCode != null and groupCode != ''">AND
			group_code	= #{groupCode}
		</if>
		<if test="parCodeId != null and parCodeId != ''">AND
			par_code_id	= #{parCodeId}
		</if>
		<if test="!enableNA">and 
		
			code_name	!= 'NA'
		
		</if>
		order by seq
	</select>
	
	<!-- /**************************************
    -   관련 파일       : KPRCommonMapper.java(selectCommonDateCodeGridList)
    ============================================
    -   제목          : 공통 Date 코드 리스트 조회
    -   설명          :
    -   결과형태      : 복수
    ============================================
    -   입력
    -   출력
    ============================================
    -   작성자         : 이기오
    -   작성일         : 2019. 9. 20.
    ***************************************/ -->    
    <select id="selectCommonDateCodeGridList" parameterType="com.icignal.kepler.common.dto.request.KprCommonDateFunctionReqDto" 
    															resultType="com.icignal.kepler.common.dto.response.KprCommonDateFunctionResDto">
    /* KprCommonMapper.selectCommonDateCodeGridList */
		SELECT ${strColumn}
			 , mark_name as markName
			 , code_name as codeName
			 , date_func as dateFunc
		  FROM ANL.ANL_DATE_FUNC WITH (NOLOCK)
		 WHERE DB_TYPE = #{databaseType}
		<if test="markName != null and markName != ''">
		   AND MARK_NAME = #{markName}
		 </if>
		 <if test="codeName != null and codeName != ''">
		   AND CODE_NAME = #{codeName}
		 </if>
			   ${strEndPaging}
    </select>
    


	<!-- /**************************************
    -   관련 파일       : KPRCommonMapper.java(selectCommonDateCodeDetail)
    ============================================
    -   제목          : 공통 Date 코드 리스트 조회
    -   설명          :
    -   결과형태      : 복수
    ============================================
    -   입력
    -   출력
    ============================================
    -   작성자         : 이기오
    -   작성일         : 2019. 9. 20.
    ***************************************/ -->   
    <select id="selectCommonDateCodeDetail" parameterType="com.icignal.kepler.common.dto.request.KprCommonDateFunctionReqDto" 
    														resultType="com.icignal.kepler.common.dto.response.KprCommonDateFunctionResDto">
	/* KprCommonMapper.selectCommonDateCodeDetail */	
		SELECT mark_name as markName
			 , code_name as codeName
			 , date_func as dateFunc
		  FROM ANL.ANL_DATE_FUNC WITH (NOLOCK)
		 WHERE DB_TYPE = #{databaseType}
		<if test="markName != null and markName != ''">
		   AND MARK_NAME = #{markName}
		</if>
		<if test="codeName != null and codeName != ''">
		   AND CODE_NAME = #{codeName}
		</if>
    </select>
    
    <select id="selectCommonDateCodeValue" parameterType="java.lang.String" resultType="java.lang.String">
    /* KprCommonMappper.selectCommonDateCodeValue */
    	SELECT	${value}	AS	funcValue
    </select>
    
    <select id="getCommCodeDetail" parameterType="com.icignal.kepler.common.dto.request.KprCommonCodeReqDto" 
    											resultType="com.icignal.kepler.common.dto.response.KprCommonCodeResDto">
    /* KprCommonMappper.getCommCodeDetail */
    	SELECT	ID			AS	codeId
    		,	CODE_NAME	AS	codeName
    		,	MARK_NAME	AS	markName
    		,	ATTRIB01	AS	attrib01
    		,	ATTRIB02	AS	attrib02
    		,	ATTRIB03	AS	attrib03
    		,	ATTRIB04	AS	attrib04
    		,	ATTRIB05	AS	attrib05
    	FROM	com.comm_code WITH (NOLOCK)
    	WHERE	${strSVCType}
    	AND		FLAG		=	1
    	AND		GROUP_CODE	=	#{groupCode}
    	<if test="codeName != null and codeName != ''">AND
    		CODE_NAME	=	#{codeName}
    	</if>
    	<if test="attrib01 != null and attrib01 != ''">AND
    		ATTRIB01	=	#{attrib01}
    	</if>
    	<if test="attrib02 != null and attrib02 != ''">AND
    		ATTRIB02	=	#{attrib02}
    	</if>
    	<if test="attrib03 != null and attrib03 != ''">AND
    		ATTRIB03	=	#{attrib03}
    	</if>
    	<if test="attrib04 != null and attrib04 != ''">AND
    		ATTRIB04	=	#{attrib04}
    	</if>
    	<if test="attrib05 != null and attrib05 != ''">AND
    		ATTRIB05	=	#{attrib05}
    	</if>
    </select>
    
     <!-- /**************************************
    -   관련 파일       : KPRCommonMapper.java(getAttributeGroupList)
    ============================================
    -   제목         			 : 공통 어트리뷰트그룹 목록
    -   설명          			 : 공통 어트리뷰트그룹 목록
    -   결과형태       		     : 복수
    ============================================
    -   입력          
    ============================================
    -   작성자         : 류동균
    -   작성일         : 2016.07.07
    ***************************************/ -->
    <select id="selectAttributeGroupList" parameterType="com.icignal.kepler.segment.dto.request.KprAttributeGroupListReqDto" 
    													resultType="com.icignal.kepler.common.dto.response.KprCommonAttributeGroupListResDto">
        /* KprCommonMapper.selectAttributeGroupList */
        SELECT g.id AS id
             	, g.atrib_group_nm AS text
        FROM anl.anl_atrib_group g WITH (NOLOCK)
        WHERE ${strSVCType}
        AND g.FLAG = 1
        AND g.LGC_COMP_ID = #{logicalCompId}
        ORDER BY g.seq
    </select>
    
     <!-- /**************************************
    -   관련 파일       : KPRCommonMapper.java(getAttributeGroupColumnList)
    ============================================
    -   제목                     : 공통 어트리뷰트그룹 컬럼 목록
    -   설명          			 : 공통 어트리뷰트그룹 컬럼 목록
    -   결과형태       		     : 복수
    ============================================
    -   입력          
    ============================================
    -   작성자         : 류동균
    -   작성일         : 2016.07.07
    ***************************************/ -->
    <select id="selectAttributeGroupColumnList" parameterType="com.icignal.kepler.segment.dto.request.KprAttributeGroupListReqDto" 
    															resultType="com.icignal.kepler.common.dto.response.KprCommonAttributeGroupColumnListResDto">
        /* KprCommonMapper.selectAttributeGroupColumnList */
        
        SELECT CASE WHEN colType = 'P' THEN col_id ELSE id END as id
             , dp_nm AS text
             , CASE WHEN colType = 'D' THEN col_id ELSE '' END AS parentId
             , CASE WHEN colType = 'M' AND colTypeCd = 'DIMENSION' THEN 'D' WHEN colType = 'M' AND colTypeCd = 'MEASURE' THEN 'M' ELSE colType END AS colType
             , id AS atribGroupColId
        FROM (
            SELECT ac.id
                 , ac.col_id
                 , ac.dp_nm
                 , ac.seq
                 , CASE WHEN ISNULL(LEN(ac.dim_col_id), 0) <![CDATA[>]]> 0 THEN 'D' WHEN ac2.cnt <![CDATA[>]]> 1 THEN 'P' ELSE 'M' END AS colType
                 , c1.code_name AS colTypeCd
                 , (CASE WHEN cm2.flag = 1 OR NOT(ISNULL(LEN(ac.dim_col_id),0) <![CDATA[>]]> 1) THEN 1 ELSE 0 END) AS colFlag
            FROM ANL.ANL_ATRIB_GROUP_COLUMN ac WITH (NOLOCK)
            JOIN ANL.ANL_COLUMN_MST cm WITH (NOLOCK) ON cm.flag = 1 AND cm.id = ac.col_id
            LEFT OUTER JOIN ANL.ANL_COLUMN_MST cm2 WITH (NOLOCK) ON cm2.flag = 1 and cm2.id = ac.dim_col_id
            JOIN COM.COMM_CODE c1 WITH (NOLOCK) ON c1.flag = 1 and c1.code_name = cm.col_type_cd and c1.group_code = 'ANL_COL_TYPE_CD' and c1.lang = #{lang}
            LEFT OUTER JOIN (SELECT count(*) AS cnt
            										, col_id 
            							FROM ANL.ANL_ATRIB_GROUP_COLUMN WITH (NOLOCK)
            							WHERE FLAG = 1 
            							AND cal_col_yn = 0 
            							AND atrib_group_id = #{atribGroupId} 
            							GROUP BY col_id) ac2 ON ac2.col_id = ac.col_id
            WHERE ${strSVCType}
            AND ac.flag = 1
            AND ac.atrib_group_id = #{atribGroupId}
        ) t
        WHERE ISNULL(LEN(t.id), 0) <![CDATA[>]]> 0
        AND t.colFlag = 1
        ORDER BY t.seq
    </select>
    
    <!-- /**************************************
    -   관련 파일             : KPRCommonMapper.java (getCMNLogicalComponentList)
    ============================== ==============
    -   제목                  : 공통 컴포넌트 목록 조회
    -   설명                  : 공통 컴포넌트 목록 조회
    -   결과형태              : 복수
    ============================================
    -   입력				:   accountId
    -	출력				:	
    ============================================
    -   작성자                : 류동균
    -   작성일                : 2016.06.21
    ***************************************/ -->
    <select id="selectCommonLogicalComponentList" parameterType="com.icignal.kepler.common.dto.request.KprCommonLogicalComponentListReqDto" 
    																	resultType="com.icignal.kepler.common.dto.response.KprCommonLogicalComponentListResDto">
        /* KprCommonMapper.selectCommonLogicalComponentList */
        SELECT ${strColumn}
             , l.ID AS logicalCompId
             , e.NAME AS createByName
             , l.CREATE_DATE AS createDate
             , l.LGC_COMP_NM AS logicalCompName
             , l.LGC_DESC AS logicalCompDesc
             , l.logicalCompUseFlag AS logicalCompUseFlag
        FROM (SELECT t.*
                   , (CASE WHEN t.CMPLT_YN = '1' AND g.cnt = 1 THEN 'Y' ELSE 'N' END) AS logicalCompUseFlag 
              FROM ANL.ANL_LGC_COMP_MST t WITH (NOLOCK)
              LEFT OUTER JOIN (SELECT t2.lgc_comp_id, count(*) AS cnt
            	   			   FROM ANL.ANL_ATRIB_GROUP t2 WITH (NOLOCK)
            				   JOIN ANL.ANL_ATRIB_GROUP_COLUMN t3 WITH (NOLOCK) ON t3.FLAG = 1 AND t3.ATRIB_GROUP_ID = t2.ID AND t3.SEG_KEY_YN = '1' 
                               WHERE t2.FLAG = 1
                               GROUP BY t2.LGC_COMP_ID) g ON g.LGC_COMP_ID = t.ID 
              WHERE t.FLAG = 1) l
        LEFT OUTER JOIN COM.CRM_USER u WITH (NOLOCK) on l.CREATE_BY = u.RID
        LEFT OUTER JOIN COM.EMPLOYEE e WITH (NOLOCK) ON e.FLAG = 1 AND u.ID_EMPLOYEE = e.ID
        WHERE ${strSVCType}  
        AND ${strWhere}
        AND l.FLAG = 1
        <if test="segmentFlag">
        AND l.logicalCompUseFlag = 'Y'
        </if>
        ORDER BY ${strOrderby}
        ${strEndPaging}
    </select>
    
    
	<select id="selectNodeList" parameterType="com.icignal.kepler.common.dto.request.KprNodeListReqDto" 
										resultType="com.icignal.kepler.common.dto.response.KprNodeListResDto">
		/* KprCommonMapper.selectNodeList */
		<!-- 루트 폴더 -->
		SELECT	CODE_NAME	AS	nodeId
			,	MARK_NAME	AS	nodeText
			,	NULL		AS	parNodeId
			,	'F'			AS	nodeType
			,	0			AS	modifyFlag
			,	1			AS	expandedFlag
			,	CASE
					WHEN	CODE_NAME	=	'MY_FOLDER'	THEN	'1'
					ELSE	'0'
				END			AS	myFolderFlag
		FROM	com.comm_code WITH (NOLOCK)
		WHERE	${strSVCType}
		AND		FLAG		=	1
		AND		GROUP_CODE	=	'FOLDER_TYPE_CD'
		AND		LANG		=	#{lang}

		UNION	ALL

		<!-- 실제 폴더 -->
		SELECT	ft.NODEID		AS	nodeId
			,	ft.NODETEXT		AS	nodeText
			,	ft.PARNODEID	AS	parNodeId
			,	ft.NODETYPE		AS	nodeType
			,	ft.MODIFYFLAG	AS	modifyFlag
			,	ft.EXPANDEDFLAG	AS	expandedFlag
			,	ft.MYFOLDERFLAG	AS	myFolderFlag
		FROM	(
			SELECT	ID				AS	nodeId
				,	FOLDR_NM		AS	nodeText
				,	PAR_FOLDR_ID	AS	parNodeId
				,	'F'				AS	nodeType
				,	1				AS	modifyFlag
				,	0				AS	expandedFlag
				,	MY_FOLDR_YN		AS	myFolderFlag
			FROM	anl.anl_save_info WITH (NOLOCK)
			WHERE	${strSVCType}
			AND		FLAG		=	1
			AND		(
					(
						MY_FOLDR_YN	=	'1'
					AND	CREATE_BY	=	#{empId}
				)
				OR	MY_FOLDR_YN		=	'0'
			)
			ORDER BY CREATE_DATE ASC
		)	ft

		<if test="reportFlag == &quot;Y&quot;">
			<!-- 분석 리스트 -->
			UNION	ALL

			SELECT	rt.NODEID		AS	nodeId
				,	rt.NODETEXT		AS	nodeText
				,	rt.PARNODEID	AS	parNodeId
				,	rt.NODETYPE		AS	nodeType
				,	rt.MODIFYFLAG	AS	modifyFlag
				,	rt.EXPANDEDFLAG	AS	expandedFlag
				,	rt.MYFOLDERFLAG	AS	myFolderFlag
			FROM	(
				SELECT	ID					AS	nodeId
					,	RPT_NM				AS	nodeText
					,	ANL_SAVE_INFO_ID	AS	parNodeId
					,	'R'					AS	nodeType
					,	0					AS	modifyFlag
					,	0					AS	expandedFlag
					,	'0'					AS	myFolderFlag
					, ROW_NUMBER() OVER(ORDER BY CREATE_DATE DESC)
				FROM	anl.anl_rpt_mst WITH (NOLOCK)
				WHERE	${strSVCType}
				AND		FLAG		=	1
				AND		DASHBRD_YN	=	'0'
				<!-- ORDER BY CREATE_DATE DESC -->
			)	rt
		</if>
	</select>
	
	<select id="selectFolderDeletableCheck" parameterType="com.icignal.kepler.common.dto.request.KprNodeDetailReqDto" resultType="java.lang.Integer">
		/* KprCommonMapper.selectFolderDeletableCheck */
		SELECT	CASE
					WHEN	SUM( t_cnt.CNT )	=	0	THEN	1
					ELSE	0
				END
		FROM	(
			<!-- 하위 폴더 조회 -->
			SELECT	COUNT(1)	AS	CNT
			FROM	anl.anl_save_info	asi WITH (NOLOCK)
			WHERE	${strSVCType}
			AND		asi.FLAG			=	1
			AND		asi.PAR_FOLDR_ID	=	#{nodeId}
			
			UNION	ALL
			
			<!-- 분석 Count -->
			SELECT	COUNT(1)
			FROM	anl.anl_save_info	asi WITH (NOLOCK)
			JOIN	anl.anl_rpt_mst		arm	ON	asi.ID		=	arm.ANL_SAVE_INFO_ID
											AND	arm.FLAG	=	1
			WHERE	${strSVCType}
			AND		asi.FLAG		=	1
			<!-- AND		asi.ACCNT_ID	=	#{accountId} -->
			AND		asi.ID			=	#{nodeId}
			
			UNION	ALL
			
			<!-- 대시보드 Count -->
			SELECT	COUNT(1)
			FROM	anl.anl_save_info asi WITH (NOLOCK)
			JOIN	anl.anl_dashbrd_mst arm WITH (NOLOCK) ON asi.ID = arm.ANL_SAVE_INFO_ID AND	arm.FLAG	=	1
			WHERE	${strSVCType}
			AND		asi.FLAG		=	1
			AND		asi.ID			=	#{nodeId}
		)	t_cnt
	</select>
	
	<insert id="insertFolder" parameterType="com.icignal.kepler.common.dto.request.KprNodeDetailReqDto">
		/* KprCommonMapper.insertFolder */
		INSERT INTO anl.anl_save_info (
				ID
			,	CREATE_BY
			,	MODIFY_BY
			,	CREATE_DATE
			,	MODIFY_DATE
			,	FLAG
			,	FOLDR_NM
			,	PAR_FOLDR_ID
			,	MY_FOLDR_YN
		) VALUES (
				#{nodeId}
			,	#{empId}
			,	#{empId}
			,	GETDATE()
			,	GETDATE()
			,	1
			,	#{nodeText}
			,	#{parNodeId}
			,	#{myFolderFlag}
		)
		
		<selectKey keyProperty="" resultType="java.lang.Integer">
			SELECT	1
		</selectKey>
	</insert>
	
	<update id="updateFolder" parameterType="com.icignal.kepler.common.dto.request.KprNodeDetailReqDto">
		/* KprCommonMapper.updateFolder */
		UPDATE ANL.ANL_SAVE_INFO
		SET		MODIFY_BY	=	#{empId}
			,	MODIFY_DATE	=	GETDATE()
			,	FOLDR_NM	=	#{nodeText}
		WHERE	ID	=	#{nodeId}
	</update>
	
	<update id="deleteFolder" parameterType="com.icignal.kepler.common.dto.request.KprNodeDetailReqDto">
		/* KprCommonMapper.deleteFolder */
		UPDATE ANL.ANL_SAVE_INFO
		SET		MODIFY_BY	=	#{empId}
			,	MODIFY_DATE	=	GETDATE()
			,	FLAG		=	flag + 1
		WHERE	ID	=	#{nodeId}
	</update>
	
	<select id="selectAnalysisCreaterCheck" parameterType="com.icignal.kepler.common.dto.request.KprAnalysisModifyCheckReqDto" resultType="java.lang.Integer">
	/* KprCommonMapper.selectAnalysisCreaterCheck */
		SELECT	(CASE
					WHEN	CREATE_BY = #{empId} THEN 1
					ELSE	0
				END) as checkCnt 
		<if test="analysisId != null and analysisId != ''">
			FROM	anl.anl_rpt_mst WITH (NOLOCK)
			WHERE	FLAG	= 1
			AND		ID		= #{analysisId}
		</if>
		<if test="analysisId == null or analysisId == ''">
			FROM	anl.anl_dashbrd_mst WITH (NOLOCK)
			WHERE	FLAG	= 1
			AND		ID		= #{dashboardId}
		</if>
	</select>
	
	<!-- 분석/대시보드 수정 가능여부 체크 -->
	<select id="selectAnalysisModifyCheck" parameterType="com.icignal.kepler.common.dto.request.KprAnalysisModifyCheckReqDto" resultType="java.lang.Integer">
		/* KprCommonMapper.selectAnalysisModifyCheck */
		SELECT	COUNT(1)
		<if test="analysisId != null and analysisId != ''">
			FROM	anl.anl_rpt_mst_inst WITH (NOLOCK)
			WHERE	FLAG	= 1
			AND		ID		= #{analysisId}
		</if>
		<if test="analysisId == null or analysisId == ''">
			FROM	anl.anl_dashbrd_mst_inst WITH (NOLOCK)
			WHERE	FLAG	= 1
			AND		ID		= #{dashboardId}		
		</if>
	</select>
	
	
	<!-- kj.kang :: 분석 설정 내 항목을 SELECT함 -->
	<!-- 1. COLUMN 항목 -->
	<select id="selectAnalysisSetupColumnList" parameterType="com.icignal.kepler.common.dto.request.KprAnalysisSetupPropertyReqDto" 
																resultType="com.icignal.kepler.common.dto.response.KprAnalysisColumnItemResDto">
		/* KprCommonMapper.selectAnalysisSetupColumnList */
		SELECT	arc.ID				AS	columnId
			,	arc.RPT_COL_DP_NM	AS	columnDisplayName
		FROM	anl.${tblRptMstNm}	arm WITH (NOLOCK)
		JOIN	anl.${tblColumnNm}	arc	ON	arm.ID				=	arc.RPT_ID
										AND	arc.FLAG			=	1
										AND	arc.COL_TYPE_CD		=	'DIMENSION'
										AND	arc.COL_USE_TYPE_CD	=	'COLUMN'
		WHERE	arm.ID	=	#{rptId}
		ORDER BY arc.SEQ ASC
	</select>
	
	<!-- 2. 프롬프트 항목 -->
	<select id="selectAnalysisSetupPromptList" parameterType="com.icignal.kepler.common.dto.request.KprAnalysisSetupPropertyReqDto" 
																resultType="com.icignal.kepler.common.dto.response.KprAnalysisPromptItemResDto">
		/* KprCommonMapper.selectAnalysisSetupPromptList */
		SELECT	arm.ID					AS	analysisId
			,	rpm.ID					AS	promptId
			,	rpm.PROMPT_VAL			AS	promptValue
			,	rpm.RPT_PRPT_COL_ALIAS	AS	promptAlias
			,	adi.ID					AS	databaseId
			,	adi.CON_IP				AS	connectIp
			,	adi.CON_PORT			AS	connectPort
			,	adi.CON_ID				AS	connectId
			,	adi.CON_PW				AS	connectPw
			,	adi.CON_URL				AS	connectUrl
			,	atm.SCHMA_NM			AS	tableSchemaName
			,	atm.TBL_NM				AS	tableName
			,	acm.COL_NM				AS	columnName
			,	aag.ID					AS	atribGroupColumnId
			,	aag.DP_NM				AS	atribGroupColumnName
			,	dcm.CODE_NAME			AS	connectDatabaseType
			,	dcm.ATTRIB01			AS	connectDatabaseClass
			,	pcd.CODE_NAME			AS	promptTypeCode
			, aag.tbl_alias_col_nm		as tableAliasColumnName
		FROM	anl.anl_db_inform adi WITH (NOLOCK)
		JOIN	anl.anl_subject_db_rel sdr WITH (NOLOCK) ON adi.ID = sdr.DB_ID AND	sdr.FLAG = 1
		JOIN	anl.anl_table_mst atm WITH (NOLOCK) ON sdr.ID = atm.SUBJECT_DB_REL_ID AND	atm.FLAG = 1
		JOIN	anl.anl_column_mst acm WITH (NOLOCK) ON atm.ID = acm.TBL_ID AND acm.FLAG = 1
		JOIN	anl.anl_atrib_group_column aag WITH (NOLOCK) ON acm.ID = CASE WHEN	LEN( aag.DIM_COL_ID ) &gt;	0 THEN	aag.DIM_COL_ID
																													ELSE	aag.COL_ID
																												END AND	acm.FLAG = 1
		JOIN	anl.${tblPromptNm} rpm WITH (NOLOCK) ON	aag.ID = rpm.ATRIB_GROUP_COL_ID AND	rpm.FLAG			=	1
		JOIN	anl.${tblRptMstNm} arm WITH (NOLOCK) ON rpm.RPT_ID = arm.ID AND	arm.FLAG			=	1
		JOIN	com.comm_code dcm WITH (NOLOCK) ON adi.CON_DB_TYPE = dcm.CODE_NAME
												AND	dcm.GROUP_CODE		=	'ANL_DB_TYPE_CD'
												AND	dcm.FLAG = 1
												AND	dcm.LANG = #{lang}
		JOIN	com.comm_code pcd WITH (NOLOCK) ON rpm.PROMPT_TYPE_CD = pcd.CODE_NAME
												AND	pcd.GROUP_CODE	 = 'ANL_PRMT_TYPE_CD'
												AND	pcd.FLAG = 1
												AND	pcd.LANG = #{lang}
		WHERE	arm.ID	=	#{rptId}
		ORDER BY rpm.SEQ ASC
	</select>
	
	<select id="selectCommonColumnValueDetail" parameterType="com.icignal.kepler.common.dto.request.KprCommonColumnReqDto" 
																resultType="com.icignal.kepler.common.dto.response.KprCommonColumnResDto">
	/* KprCommonMapper.selectCommonColumnValueDetail */
		SELECT adi.con_ip		AS connectIp
			 , adi.con_port		AS connectPort
			 , adi.con_id		AS connectId
			 , adi.con_pw		AS connectPw
			 , adi.con_url		AS connectUrl
			 , dcd.code_name	AS connectDatabaseType
			 , dcd.attrib01		AS connectDatabaseClass
			 , atm.schma_nm		AS schemaName
			 , atm.tbl_nm		AS tableName
			 , acm.col_nm		AS columnName
			 , adi.aws_secret_nm AS secretNm
		  FROM ANL.ANL_COLUMN_MST acm WITH (NOLOCK)
		  JOIN ANL.ANL_TABLE_MST atm WITH (NOLOCK) ON acm.tbl_id = atm.id and atm.flag = 1
		  JOIN ANL.ANL_SUBJECT_DB_REL	sdr WITH (NOLOCK) ON atm.SUBJECT_DB_REL_ID = sdr.ID AND sdr.FLAG = 1
		  JOIN ANL.ANL_DB_INFORM adi WITH (NOLOCK) ON sdr.DB_ID = adi.id and adi.flag = 1
		  JOIN COM.COMM_CODE dcd WITH (NOLOCK) ON adi.CON_DB_TYPE = dcd.CODE_NAME AND dcd.GROUP_CODE = 'ANL_DB_TYPE_CD' AND dcd.FLAG = 1 AND dcd.LANG = #{lang}
		 WHERE acm.FLAG = 1
		   AND acm.ID = #{columnId}
	</select>
</mapper>